// --------- Index Tables


table.index_table {
  @include shadow-xs;
  border-radius: $border-radius-s;

  th {
    a, a:link, a:visited {
      color: $fg-muted;
    }

    &.sorted-asc, &.sorted-desc {
      background: $bg-default;
      border-bottom: 2px solid $border-color-emphasis;
    }

    &:first-child {
      border-top-left-radius: $border-radius-s;
    }

    &:last-child {
      border-right: none;
      border-top-right-radius: $border-radius-s;
    }
  }

  tr {
    &:last-child {
      td {
        &:first-child {
          border-bottom-left-radius: $border-radius-s;
        }

        &:last-child {
          border-bottom-right-radius: $border-radius-s;
        }
      }
    }
  }

  tr.even td { background: $bg-subtle; }

  td {
    border-bottom: none;
    vertical-align: middle;
  }
}
